################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/VisualStudio/DotNetCore/MyFirstDotNetCoreWebApp/.vs/MyFirstDotNetCoreWebApp.slnx
